<h2>Signup</h2>

<form action="/signup" method="POST" id="form-container">
  <label for="username">Username</label>
  <input type="text" name="username" placeholder="JonSnow">
  <br>
  <br>
  <label for="password">Password</label>
  <input type="password" name="password" placeholder="Your password">
  <br>
  <br>
  <label for="privacy">Do you want to have a private profile?</label>
  <select name="privacy">
      <option value="true">Yes</option>
      <option value="false">No</option>
  </select>
  <br>
  <% if ( typeof(error) != "undefined") { %>
    <div class="alert alert-danger" role="alert">
      <%= error %>
    </div>
  <% } %>
  <br>
    <p class="account-message">
      Already have an account? <a href="/login">Login</a>
    </p>
  <button>Create account</button>
</form>